@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

/* ---------------------------- */

/* ---------------------------- */

/* ---------SCROLL BAR--------- */

/* ---------------------------- */

/* ---------------------------- */

::-webkit-scrollbar {
  height: 10px;
  width: 5px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #02897A;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #fff;
}

/* ---------------------------- */

/* ---------------------------- */

/* ---------------------------- */

/* ---------------------------- */

/* ---------------------------- */

.title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  color: #22343D;
}

.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: #FFFFFF;
  background-color: #02897A;
  border-radius: 8px;
  padding: 14px 40px;
  transition: all 0.4s ease 0s;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  background-color: #fff;
  color: #22343D;
  font-family: "Poppins";
}

html._lock,
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  padding-top: 80px;
  flex: 1 1 auto;
}

.__container {
  padding: 0 10px;
  max-width: 1120px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 0px 1px black;
}

.header__container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__btn {
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  background-color: #02897A;
  padding: 10px 25px;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.header__btn_border {
  border: 2px solid #BCD0E5;
  color: #173A56;
  background: transparent;
  transition: all 0.4s ease 0s;
}

.header__btn + .header__btn {
  margin-left: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 40px;
}

.logo__img img {
  max-width: 100%;
}

.logo__text {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 93.333333%;
  color: #173A56;
  margin: 0px 0px 0px 16px;
}

.menu {
  padding: 0 5px;
}

.menu__list {
  display: flex;
}

.menu__item + .menu__item {
  margin-left: 30px;
}

.menu__link {
  font-weight: 400;
  font-size: 1rem;
  line-height: 175%;
  color: #22343D;
}

.menu__link._active {
  font-weight: 600;
}

.menu__icon {
  z-index: 5;
  position: relative;
  width: 40px;
  height: 28px;
  cursor: pointer;
  display: none;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: #000;
}

.menu__icon::before,
.menu__icon::after {
  content: "";
}

.menu__icon::before {
  top: 0;
}

.menu__icon::after {
  bottom: 0;
}

.menu__icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.menu__icon._active span {
  transform: scale(0) translate(0px, -50%);
}

.menu__icon._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.menu__icon._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.front {
  background-color: #E5E5E5;
}

.front__container {
  padding: 25px 15px 110px 15px;
  display: flex;
}

.front__body {
  flex: 1 1 50%;
}

.front__title {
  padding: 145px 0px 0px 0px;
  font-size: 40px;
  margin: 0px 0px 20px 0px;
}

.front__text {
  margin: 0px 0px 60px 0px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 155.555556%;
  color: #22343D;
  padding: 0px 110px 0px 0px;
}

.front__actions {
  display: flex;
  gap: 30px;
}

.front__btn_video {
  display: flex;
  align-items: center;
  gap: 9px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  text-decoration-line: underline;
  color: #02897A;
}

.front__img {
  flex: 0 1 50%;
}

.front__img img {
  max-width: 100%;
}

.product {
  padding: 0px 0px 100px 0px;
  background-color: #E5E5E5;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
}

.product__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__title {
  text-align: center;
  margin: 0px 0px 70px 0px;
}

.product__content {
  display: flex;
  row-gap: 15px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  flex-wrap: wrap;
  margin: 0px 0px 80px 0px;
  justify-content: center;
}

.product__item {
  flex: 0 1 240px;
}

.item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  margin: 0px 0px 30px 0px;
}

.item__icon_1 {
  background-color: #02897A;
}

.item__icon_2 {
  background-color: #4D8DFF;
}

.item__icon_3 {
  background-color: #740A76;
}

.item__icon_4 {
  background-color: #F03E3D;
}

.item__title {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 150%;
  color: #22343D;
  margin: 0px 0px 15px 0px;
}

.item__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162.5%;
  color: #22343D;
}

.second__container {
  padding: 150px 15px 150px 15px;
}

.second__block {
  display: flex;
  align-items: center;
  gap: 84px;
}

.second__block:not(:last-child) {
  margin: 0px 0px 150px 0px;
}

.second__block_reverse {
  flex-direction: row-reverse;
}

.second__body {
  flex: 1 1 50%;
}

.second__subtitle {
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
}

.second__subtitle:not(:first-child) {
  margin: 0px 0px 10px 0px;
}

.second__title {
  margin: 0px 0px 25px 0px;
}

.second__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162.5%;
  margin: 0px 0px 30px 0px;
}

.second__img {
  flex: 0 1 50%;
}

.second__img img {
  max-width: 100%;
}

.second-list__item {
  display: flex;
  gap: 30px;
}

.second-list__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.second-list__icon {
  padding: 12px 10px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-list__icon_1 {
  background-color: #FF9900;
}

.second-list__icon_2 {
  background-color: #F03E3D;
}

.second-list__icon_3 {
  background-color: #4D8DFF;
}

.process {
  background-color: #E5E5E5;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
}

.process__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 15px 0px 15px;
}

.process__title {
  text-align: center;
  margin: 0px 0px 25px 0px;
}

.process__text {
  text-align: center;
  margin: 0px auto 35px auto;
  font-weight: 500;
  font-size: 1rem;
  line-height: 162.5%;
  max-width: 540px;
}

.process__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 90px;
}

.item-content {
  width: 395px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0px 0px 50px 0px;
}

.item-content_reverse {
  flex-direction: row-reverse;
}

.item-content__text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #2F281E;
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 25px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.contents {
  background-color: #E5E5E5;
  padding: 150px 15px 150px 15px;
}

.contents__title {
  margin: 0px 0px 10px 0px;
}

.contents__text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 162.5%;
  margin: 0px 0px 35px 0px;
}

.swiper-slide {
  background: #fff;
  border-radius: 8px;
}

.swiper-slide__img {
  max-width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  overflow: hidden;
  height: 185px;
}

.swiper-slide__img img {
  max-width: 100%;
}

.swiper-slide__bottom {
  display: block;
  padding: 24px 24px 30px 24px;
  color: #22343D;
}

.swiper-slide__info {
  font-weight: 400;
  font-size: 1rem;
  line-height: 175%;
}

.swiper-slide__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 166.666667%;
  transition: color 0.4s ease 0s;
}

.swiper-pagination {
  position: relative;
  margin: 30px 0px 0px 0px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}

.swiper-pagination-bullet-active {
  background: #02897A;
}

.pricetable {
  background-color: #E5E5E5;
}

.pricetable__container {
  padding: 0px 15px 150px 15px;
}

.pricetable__title {
  margin: 0px 0px 10px 0px;
  text-align: center;
}

.pricetable__subtitle {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  margin: 0px 0px 50px 0px;
  text-align: center;
}

.pricetable__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
}

.pricetable__item {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: all 0.4s ease 0s;
}

.item-price {
  padding: 25px 0px 25px 0px;
  text-align: center;
  width: 322px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-price__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 166.666667%;
  margin: 0px 0px 10px 0px;
}

.item-price__desc {
  font-weight: 400;
  font-size: 1rem;
  line-height: 250%;
  margin: 0px 0px 20px 0px;
}

.item-price__pricemonth {
  display: flex;
  align-items: center;
  margin: 0px 0px 16px 0px;
}

.item-price__price {
  font-weight: 700;
  font-size: 4.75rem;
  line-height: 131.578947%;
  letter-spacing: 0.2px;
  color: #02897A;
  transition: color 0.4s ease 0s;
}

.item-price__desc-price {
  margin: 0px 0px 0px 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.item-price__symboll {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 125%;
  letter-spacing: 0.1px;
  color: #02897A;
  transition: color 0.4s ease 0s;
}

.item-price__month {
  font-weight: 400;
  font-size: 1rem;
  line-height: 118.75%;
  letter-spacing: 0.1px;
  color: #AFAFAF;
}

.item-price__list {
  margin: 0px 0px 40px 0px;
}

.item-price__list li {
  font-weight: 500;
  font-size: 1rem;
  line-height: 137.5%;
  /* 22px/16 */
  letter-spacing: 0.2px;
}

.item-price__list li:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.item-price__btn {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 122.222222%;
  color: #FFFFFF;
  background: #02897A;
  border-radius: 8px;
  padding: 10px 18px 10px 18px;
  transition: all 0.4s ease 0s;
}

.clients {
  background-color: #E5E5E5;
}

.clients__title {
  margin: 0px 0px 10px 0px;
  text-align: center;
}

.clients__text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 0px 0px 50px 0px;
}

.clients__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
}

.clients__item {
  flex: 0 1 327px;
  padding: 26px;
}

.response {
  border: 1px solid #fff;
  border-radius: 5px;
}

.response__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0.2px;
  color: #737373;
}

.response__user {
  margin: 16px 0px 0px 0px;
  display: flex;
  align-items: center;
}

.response__user-img {
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.response__user-img img {
  max-width: 100%;
}

.response__user-info {
  margin: 0px 0px 0px 15px;
}

.response__user-name {
  margin: 0px 0px 10px 0px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #02897A;
}

.response__user-role {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.2px;
  color: #252B42;
}

.join {
  background-color: #E5E5E5;
}

.join__container {
  padding: 150px 80px 0px 80px;
}

.join__block {
  background-color: #02897A;
  border-radius: 32px;
  display: flex;
  padding: 50px;
  align-items: center;
}

.join__body {
  flex: 1 1 50%;
}

.join__text {
  font-weight: 600;
  font-size: 2rem;
  line-height: 151.4%;
  color: #FFFFFF;
  margin: 0px 0px 60px 0px;
}

.join__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 150%;
  color: #02897A;
  padding: 10px 32px 10px 32px;
  background: #FFFFFF;
  border-radius: 8px;
}

.join__img {
  flex: 1 1 50%;
}

.join__img img {
  max-width: 100%;
}

.footer {
  background-color: #E5E5E5;
}

.footer__container {
  padding: 150px 15px 50px 15px;
}

.footer__content {
  margin: 0px 0px 15px 0px;
  display: flex;
  justify-content: space-between;
}

.footer__social {
  display: flex;
  margin: 25px 0px 0px 0px;
}

.footer__social-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
}

.footer__social-item:not(:last-child) {
  margin: 0px 16px 0px 0px;
}

.footer__social-item img {
  max-width: 100%;
}

.footer__resourse-list {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 150%;
}

.footer__resourse-link {
  font-weight: 400;
  font-size: 1rem;
  line-height: 218.75%;
  color: #22343D;
}

.footer__form form {
  display: flex;
  flex-direction: column;
}

.footer__form-text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 150%;
  margin: 0px 0px 34px 0px;
}

.footer__form-input {
  height: 50px;
  width: 325px;
  border: 1px solid gray;
  font-weight: 600;
  font-size: 1rem;
  line-height: 218.75%;
  color: #22343D;
  outline: none;
  padding-left: 20px;
  margin: 0px 0px 21px 0px;
}

.footer__form-submit {
  border: none;
  cursor: pointer;
  padding: 0;
  width: 130px;
  height: 40px;
}

.footer__copy {
  text-align: center;
}

@media (min-width: 991.98px) {
  .btn:hover {
    background-color: #07665b;
  }

  .header__btn:hover {
    background-color: #07665b;
  }

  .header__btn_border:hover {
    background-color: #BCD0E5;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .swiper-slide:hover .swiper-slide__title {
    color: #02897A;
  }

  .pricetable__item:hover {
    color: #fff;
    background-color: #02897A;
    cursor: pointer;
    margin-top: -50px;
  }

  .pricetable__item:hover {
    color: #fff;
    background-color: #02897A;
  }

  .item-price:hover .item-price__btn {
    color: #02897A;
    background-color: #fff;
  }

  .item-price:hover .item-price__price {
    color: #fff;
  }

  .item-price:hover .item-price__symboll {
    color: #fff;
  }
}

@media (max-width: 1122px) {
  .__container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .page {
    padding-top: 173px;
  }

  .__container {
    max-width: 750px;
  }

  .header__container {
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
  }

  .front__container {
    flex-direction: column;
    align-items: center;
  }

  .front__body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .front__title {
    padding: 40px 0px 0px 0px;
    text-align: center;
  }

  .front__text {
    padding: 0px 0px 0px 0px;
  }

  .product {
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
  }

  .process {
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
  }

  .process__content {
    flex-direction: column;
  }

  .swiper-slide__img {
    height: 220px;
  }

  .join__block {
    padding: 20px;
  }

  .join__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__content {
    flex-direction: column;
    align-items: center;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }

  .footer__logo {
    margin: 0px 0px 20px 0px;
  }

  .footer__resourse {
    margin: 0px 0px 20px 0px;
  }

  .footer__resourse-list {
    text-align: center;
  }

  .footer__resourse-item {
    text-align: center;
  }

  .footer__form-text {
    text-align: center;
  }

  .footer__form-submit {
    width: 100%;
    padding: none;
  }
}

@media (max-width: 767.98px) {
  .title {
    font-size: 1.6875rem;
  }

  .__container {
    max-width: none;
  }

  .menu__link {
    font-size: 2rem;
  }

  .menu__icon {
    display: block;
  }

  .menu {
    position: fixed;
    top: -100%;
    right: 0;
    background-color: #a79f9f;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 120px 30px 30px 30px;
    transition: top 0.3s ease 0s;
    overflow: auto;
    z-index: 5;
  }

  .menu .menu__list {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

  .menu .menu__list .menu__item {
    margin: 20px 0px 0px 0px;
    font-size: 35px;
  }

  .menu._active {
    top: 0;
  }

  .front__body {
    margin: 0px 0px 40px 0px;
  }

  .front__title {
    font-size: 27px;
  }

  .front__text {
    margin: 0px 0px 25px 0px;
    text-align: center;
  }

  .front__actions {
    flex-direction: column;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }

  .product {
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
  }

  .product__content {
    flex-direction: column;
  }

  .product__item {
    flex: 1 1 100%;
  }

  .second__container {
    padding: 75px 15px 75px 15px;
  }

  .second__block {
    flex-direction: column;
  }

  .second__block_reverse {
    flex-direction: column;
  }

  .process {
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
  }

  .item-content_reverse {
    flex-direction: row;
  }

  .swiper-slide__img {
    height: 270px;
  }

  .swiper-slide__title {
    font-size: 1.25rem;
  }

  .join__container {
    padding: 80px 15px 0px 15px;
  }

  .join__block {
    flex-direction: column-reverse;
    align-items: center;
  }

  .join__text {
    font-size: 1.5rem;
    text-align: center;
  }

  .join__img {
    flex: 1 1 170px;
  }

  .footer__form-input {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .item-content {
    flex-direction: column;
  }
}